/* 全局样式表 */
html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    -webkit-tap-highlight-color: transparent;
}

h1 {
    font-size: 2em!important;
}

h2 {
    font-size: 1.5em!important;
}

h3 {
    font-size: 1.17em!important;
}

.nav-transparent {
    background-color: transparent !important;
    background-image: none;
    box-shadow: none !important;
}

/* el-drawer组件弹出的遮罩样式，本来这个组件是有遮罩效果的，但我也不知道她被什么东西弄没了，自己写一下吧……*/
.v-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: #000;
}


/* el-scrollbar组件根据屏幕长度自动隐藏或显示滚动条 */
.page-component__scroll{
    height: 100%;
}

.page-component__scroll .el-scrollbar__wrap {
    overflow-x: auto;
}

/* 背景图动画 */
@keyframes rainbow {

    0%,
    100%{
        background: rgba(132, 13, 121, 0.75);
        background: linear-gradient(45deg, rgba(132, 13, 121, 0.75) 0%, rgba(132, 13, 121, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(132, 13, 121, 0.75) 0%, rgba(132, 13, 121, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(132, 13, 121, 0.75) 0%, rgba(132, 13, 121, 0.65) 100%);
    }

    20% {
        background: rgba(81, 52, 133, 0.75);
        background: linear-gradient(45deg, rgba(81, 52, 133, 0.75) 0%, rgba(81, 52, 133, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(81, 52, 133, 0.75) 0%, rgba(81, 52, 133, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(81, 52, 133, 0.75) 0%, rgba(81, 52, 133, 0.65) 100%);
    }

    40% {
        background: rgba(5, 91, 92, 0.75);
        background: linear-gradient(45deg, rgba(5, 91, 92, 0.75) 0%, rgba(5, 91, 92, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(5, 91, 92, 0.75) 0%, rgba(5, 91, 92, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(5, 91, 92, 0.75) 0%, rgba(5, 91, 92, 0.65) 100%);
    }


    60% {
        background: rgba(18, 84, 136, 0.65);
        background: linear-gradient(45deg, rgba(18, 84,136, 0.75) 0%, rgba(18, 84,136, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(18, 84,136, 0.75) 0%, rgba(18, 84,136, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(18, 84,136, 0.75) 0%, rgba(18, 84,136, 0.65) 100%);
    }

    80% {
        background: rgba(10, 61, 100, 0.75);
        background: linear-gradient(45deg, rgba(10, 61, 100, 0.75) 0%, rgba(10, 61, 100, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(10, 61, 100, 0.75) 0%, rgba(10, 61, 100, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(10, 61, 100, 0.75) 0%, rgba(10, 61, 100, 0.65) 100%);
    }

}


@keyframes articleRainbow {

    0%,
    100% {
        background: rgba(156, 39, 176, 0.75);
        background: linear-gradient(45deg, rgba(156, 39, 176, 0.75) 0%, rgba(156, 39, 176, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(156, 39, 176, 0.75) 0%, rgba(156, 39, 176, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(156, 39, 176, 0.75) 0%, rgba(156, 39, 176, 0.65) 100%);
    }

    16% {
        background: rgba(132, 13, 121, 0.75);
        background: linear-gradient(45deg, rgba(132, 13, 121, 0.75) 0%, rgba(132, 13, 121, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(132, 13, 121, 0.75) 0%, rgba(132, 13, 121, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(132, 13, 121, 0.75) 0%, rgba(132, 13, 121, 0.65) 100%);
    }

    32% {
        background: rgba(239, 83, 80, 0.75);
        background: linear-gradient(45deg, rgba(239, 83, 80, 0.75) 0%, rgba(239, 83, 80, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(239, 83, 80, 0.75) 0%, rgba(239, 83, 80, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(239, 83, 80, 0.75) 0%, rgba(239, 83, 80, 0.65) 100%);
    }

    48% {
        background: rgba(255, 87, 34, 0.75);
        background: linear-gradient(45deg, rgba(255, 87, 34, 0.75) 0%, rgba(255, 87, 34, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(255, 87, 34, 0.75) 0%, rgba(255, 87, 34, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(255, 87, 34, 0.75) 0%, rgba(255, 87, 34, 0.65) 100%);
    }

    64% {
        background: rgba(255, 160, 0, 0.75);
        background: linear-gradient(45deg, rgba(255, 160, 0, 0.75) 0%, rgba(255, 160, 0, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(255, 160, 0, 0.75) 0%, rgba(255, 112, 66, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(255, 160, 0, 0.75) 0%, rgba(255, 160, 0, 0.65) 100%);
    }

    80% {
        background: rgba(233, 30, 99, 0.75);
        background: linear-gradient(45deg, rgba(233, 30, 99, 0.75) 0%, rgba(233, 30, 99, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(233, 30, 99, 0.75) 0%, rgba(233, 30, 99, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(2233, 30, 99, 0.75) 0%, rgba(233, 30, 99, 0.65) 100%);
    }
}

.focusing {
    outline: none;
}
